/* for viewing on html only do not include in final css */
.container {  
    display: grid;  
    grid-template-columns: 1000px;  
    grid-template-rows: auto;
    padding: 3%;
}
.container2 {
    display:inline-block;
    padding:3%;
    background-color: #c5bac5;
}
/*-----------------------------------------------------------*/

/* Global color styles */
$flock-red: #E7404A;
$gray-dark: #52575C;
$flock-white: white;
$gray: #A0A4A8;
$gray-light: #CACCCF;
$divider-color: #E8E8E8;
$bg-color: #F6F8FB;
$flock-red-dark: #D03A43;
$flock-red-hover: #E9535C;
$flock-red-light: #EC666E;
$flock-red-lightest: #EE7980;

/* Icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Typography styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$global-font:'Lato', sans-serif;

h1{
    font-size:56px ;
    font-family: $global-font;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.2px;
}

h2{
    font-size:40px ;
    font-family: $global-font;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.2px;
}

h3{
    font-size:28px ;
    font-family: $global-font;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.2px;
}

h4{
    font-size:26px ;
    font-family: $global-font;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.2px;
}

h5{
    font-size:20px ;
    font-family: $global-font;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.2px;
}

h6{
    font-size:18px ;
    font-family: $global-font;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
}

p{
    font-size:16px ;
    font-family: $global-font;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.subtitle1{
    font-size:16px ;
    font-family: $global-font;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.subtitle2{
    font-size:14px ;
    font-family: $global-font;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.body1{
    font-size:16px ;
    font-family: $global-font;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.body2{
    font-size:14px ;
    font-family: $global-font;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.small1{
    font-size:13px ;
    font-family: $global-font;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1px;
}

.small2{
    font-size:12px ;
    font-family: $global-font;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.small3{
    font-size:10px ;
    font-family: $global-font;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.2px;
}

.inisial{
    font-size:13px ;
    font-family: $global-font;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 1px;
}

/* button solid */
@mixin button-solid($bg) {
    display: inline-block;
    background: $bg;
    border:2px solid $bg;
    &:hover {
      background:darken($bg,8%);
      transition: all 0.3s ease;
      border:2px solid;
      border-color: darken($bg,8%);
    }
    &:active {
      background:darken($bg,25%);
      border:2px solid;
      border-color: darken($bg,25%);
    } 
  }

.btn-solid {
    color:white;
    text-decoration:none;
    padding:14px 24px;
    border-radius:6px;
    font-size:14px ;
    font-family: $global-font;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.2px;
}

.btn-solid-red {
    @include button-solid($flock-red-dark);
 }

.btn-solid-dark {
    @include button-solid($gray-dark);
 }

/* button line */
@mixin button-line($bg) {
    display: inline-block;
    background: transparent;
    border: 2px solid $gray-dark;
    &:hover {
        background:darken($bg,8%);
        color:white;
        transition: all 0.4s ease;
        border:2px solid;
        border-color: darken($bg,8%);
    }
    &:active {
        background:darken($bg,25%);
        border-color: darken($bg,25%);
    } 
  }

.btn-line {
    color:$gray-dark;
    text-decoration:none;
    padding:14px 24px;
    border-radius:6px;
    font-size:14px ;
    font-family: $global-font;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.2px;
}

.btn-line-red {
    @include button-line($flock-red-dark);
}

/* button fullwidth */
.btn-solid-full {
    width: 100%;
    text-align: center;
    color:white;
    text-decoration:none;
    padding:14px 24px;
    border-radius:6px;
    font-size:14px ;
    font-family: $global-font;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.2px;
}

.btn-line-full {
    width:100%;
    text-align: center;
    color:$gray-dark;
    text-decoration:none;
    padding:14px 24px;
    border-radius:6px;
    font-size:14px ;
    font-family: $global-font;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.2px;
}

/* button icons */
@mixin button-icon($bg) {
    i {
        width: 1em;
        padding: 4px;
    }
    display: inline-block;
    background: transparent;
    border: 2px solid $gray-dark;
    &:hover {
        background:darken($bg,8%);
        color:white;
        transition: all 0.4s ease;
        border-color: darken($bg,8%);
    }
    &:active {
        background:darken($bg,25%);
        border-color: darken($bg,25%);
    } 
  }

.btn-icon-round{
    text-align: center;
    color:$gray-dark;
    padding:4px 4px;
    border-radius: 50%;
    font-size:20px;
}

.btn-icon-red {
    @include button-icon($flock-red-dark);
}

.btn-icon-square{
    text-align: center;
    color:$gray-dark;
    padding:4px 4px;
    border-radius: 6px;
    font-size:20px;
}

.btn-icon-red {
    @include button-icon($flock-red-dark);
}

@mixin button-icon-solid($bg) {
    i {
        width: 1em;
        padding: 4px;
        color:white;
    }
    display: inline-block;
    background: $bg;
    border: 2px solid $bg;
    &:hover {
        background:darken($bg,8%);
        color:white;
        transition: all 0.4s ease;
        border-color: darken($bg,8%);
    }
    &:active {
        background:darken($bg,25%);
        border-color: darken($bg,25%);
    } 
  }

.btn-icon-solid-red {
    @include button-icon-solid($flock-red-dark);
}
.btn-icon-solid-dark {
    @include button-icon-solid($gray-dark);
}

/* Color */
/* font color */
@mixin color-font($color){
    color: $color;
}
/* font color b/w */
.flock-color-white {
   @include color-font($flock-white);
}
.flock-color-black {
    @include color-font($gray-dark);
}
/* ---------- */

/* for viewing on html only do not include in final css */
@mixin color-theme($bg) {
    text-align: center;
    display: inline-block;
    background: $bg;
    text-decoration:none;
    padding:14px 24px;
    border-radius:6px;
    font-size:14px ;
    font-family: $global-font;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.2px;
  }
/* --------------- */
/* for viewing on html only */
.flock-red {
    @include color-theme($flock-red);
 }
.gray-dark {
    @include color-theme($gray-dark);
 }
.gray {
    @include color-theme($gray);
}
.gray-light {
    @include color-theme($gray-dark);
}
.divider-color {
    @include color-theme($divider-color);
}
.bg-color {
    @include color-theme($bg-color);
}
.flock-red-dark{
    @include color-theme($flock-red-dark);
}
.flock-red-hover{
    @include color-theme($flock-red-hover);
}
.flock-red-light{
    @include color-theme($flock-red-light);
}
.flock-red-lightest{
    @include color-theme($flock-red-lightest);
}
/*-----------------------------------------------------------*/